sudo: required

services:
  - docker

env:
  - MYSQL_VERSION=5.0.15
  - MYSQL_VERSION=5.0.16
  - MYSQL_VERSION=5.0.17
  - MYSQL_VERSION=5.0.18
  - MYSQL_VERSION=5.0.19
  - MYSQL_VERSION=5.0.20
  - MYSQL_VERSION=5.0.20a
  - MYSQL_VERSION=5.0.21
  - MYSQL_VERSION=5.0.22
  - MYSQL_VERSION=5.0.23
  - MYSQL_VERSION=5.0.24
  - MYSQL_VERSION=5.0.24a
  - MYSQL_VERSION=5.0.27
  - MYSQL_VERSION=5.0.33
  - MYSQL_VERSION=5.0.37
  - MYSQL_VERSION=5.0.41
  - MYSQL_VERSION=5.0.45
  - MYSQL_VERSION=5.0.51a
  - MYSQL_VERSION=5.0.67
  - MYSQL_VERSION=5.0.75
  - MYSQL_VERSION=5.0.77
  - MYSQL_VERSION=5.0.81
  - MYSQL_VERSION=5.0.82
  - MYSQL_VERSION=5.0.83
  - MYSQL_VERSION=5.0.84
  - MYSQL_VERSION=5.0.85
  - MYSQL_VERSION=5.0.86
  - MYSQL_VERSION=5.0.87
  - MYSQL_VERSION=5.0.88
  - MYSQL_VERSION=5.0.89
  - MYSQL_VERSION=5.0.90
  - MYSQL_VERSION=5.0.91
  - MYSQL_VERSION=5.0.92
  - MYSQL_VERSION=5.0.95
  - MYSQL_VERSION=5.0.96 LATEST_MINOR=5.0

  - MYSQL_VERSION=5.1.30
  - MYSQL_VERSION=5.1.31
  - MYSQL_VERSION=5.1.32
  - MYSQL_VERSION=5.1.33
  - MYSQL_VERSION=5.1.34
  - MYSQL_VERSION=5.1.35
  - MYSQL_VERSION=5.1.36
  - MYSQL_VERSION=5.1.37
  - MYSQL_VERSION=5.1.38
  - MYSQL_VERSION=5.1.39
  - MYSQL_VERSION=5.1.40
  - MYSQL_VERSION=5.1.41
  - MYSQL_VERSION=5.1.42
  - MYSQL_VERSION=5.1.43
  - MYSQL_VERSION=5.1.44
  - MYSQL_VERSION=5.1.45
  - MYSQL_VERSION=5.1.46
  - MYSQL_VERSION=5.1.47
  - MYSQL_VERSION=5.1.48
  - MYSQL_VERSION=5.1.49
  - MYSQL_VERSION=5.1.50
  - MYSQL_VERSION=5.1.51
  - MYSQL_VERSION=5.1.52
  - MYSQL_VERSION=5.1.53
  - MYSQL_VERSION=5.1.54
  - MYSQL_VERSION=5.1.55
  - MYSQL_VERSION=5.1.56
  - MYSQL_VERSION=5.1.57
  - MYSQL_VERSION=5.1.58
  - MYSQL_VERSION=5.1.59
  - MYSQL_VERSION=5.1.60
  - MYSQL_VERSION=5.1.61
  - MYSQL_VERSION=5.1.62
  - MYSQL_VERSION=5.1.63
  - MYSQL_VERSION=5.1.65
  - MYSQL_VERSION=5.1.66
  - MYSQL_VERSION=5.1.67
  - MYSQL_VERSION=5.1.68
  - MYSQL_VERSION=5.1.69
  - MYSQL_VERSION=5.1.70
  - MYSQL_VERSION=5.1.71
  - MYSQL_VERSION=5.1.72
  - MYSQL_VERSION=5.1.73 LATEST_MINOR=5.1

  - MYSQL_VERSION=5.5.8
  - MYSQL_VERSION=5.5.9
  - MYSQL_VERSION=5.5.10
  - MYSQL_VERSION=5.5.11
  - MYSQL_VERSION=5.5.12
  - MYSQL_VERSION=5.5.13
  - MYSQL_VERSION=5.5.14
  - MYSQL_VERSION=5.5.15
  - MYSQL_VERSION=5.5.16
  - MYSQL_VERSION=5.5.17
  - MYSQL_VERSION=5.5.18
  - MYSQL_VERSION=5.5.19
  - MYSQL_VERSION=5.5.20
  - MYSQL_VERSION=5.5.21
  - MYSQL_VERSION=5.5.22
  - MYSQL_VERSION=5.5.23
  - MYSQL_VERSION=5.5.24
  - MYSQL_VERSION=5.5.25a
  - MYSQL_VERSION=5.5.27
  - MYSQL_VERSION=5.5.28
  - MYSQL_VERSION=5.5.29
  - MYSQL_VERSION=5.5.30
  - MYSQL_VERSION=5.5.31
  - MYSQL_VERSION=5.5.32
  - MYSQL_VERSION=5.5.33
  - MYSQL_VERSION=5.5.34
  - MYSQL_VERSION=5.5.35
  - MYSQL_VERSION=5.5.36
  - MYSQL_VERSION=5.5.37
  - MYSQL_VERSION=5.5.38
  - MYSQL_VERSION=5.5.39
  - MYSQL_VERSION=5.5.40
  - MYSQL_VERSION=5.5.41
  - MYSQL_VERSION=5.5.42
  - MYSQL_VERSION=5.5.43
  - MYSQL_VERSION=5.5.44
  - MYSQL_VERSION=5.5.45
  - MYSQL_VERSION=5.5.46
  - MYSQL_VERSION=5.5.47 LATEST_MINOR=5.5

  - MYSQL_VERSION=5.6.10
  - MYSQL_VERSION=5.6.11
  - MYSQL_VERSION=5.6.12
  - MYSQL_VERSION=5.6.13
  - MYSQL_VERSION=5.6.14
  - MYSQL_VERSION=5.6.15
  - MYSQL_VERSION=5.6.16
  - MYSQL_VERSION=5.6.17
  - MYSQL_VERSION=5.6.18
  - MYSQL_VERSION=5.6.19
  - MYSQL_VERSION=5.6.20
  - MYSQL_VERSION=5.6.21
  - MYSQL_VERSION=5.6.22
  - MYSQL_VERSION=5.6.23
  - MYSQL_VERSION=5.6.24
  - MYSQL_VERSION=5.6.25
  - MYSQL_VERSION=5.6.26
  - MYSQL_VERSION=5.6.27
  - MYSQL_VERSION=5.6.28 LATEST_MINOR=5.6

  - MYSQL_VERSION=5.7.9
  - MYSQL_VERSION=5.7.10 LATEST_MINOR=5.7 LATEST=true

before_install:
  - sudo apt-get update -y --allow-unauthenticated
  - sudo apt-get install -y docker-engine

before_script:
  - docker build --force-rm=true --build-arg MYSQL_VERSION=${MYSQL_VERSION} -t deeky666/mysql:${MYSQL_VERSION} .

script:
  - docker run -d -p 3306:3306 deeky666/mysql:${MYSQL_VERSION}
  - sleep 5
  - echo "status" | mysql -h127.0.0.1 -uroot
  - mysql -h127.0.0.1 -uroot -e "CREATE DATABASE foo; SHOW DATABASES;" | grep foo > /dev/null

after_success:
  - test ! -z "$TRAVIS_TAG"
  - if [ ! -z "$LATEST_MINOR" ]; then docker tag deeky666/mysql:${MYSQL_VERSION} deeky666/mysql:${LATEST_MINOR}; fi
  - if [ ! -z "$LATEST" ]; then docker tag deeky666/mysql:${MYSQL_VERSION} deeky666/mysql:latest; fi
  - docker login -e="$DOCKER_EMAIL" -u="$DOCKER_USERNAME" -p="$DOCKER_PASSWORD"
  - docker push deeky666/mysql
